body {
  margin: 0;
  background-image: linear-gradient(
      152deg,
      rgba(93, 93, 93, 0.02) 0%,
      rgba(93, 93, 93, 0.02) 3%,
      rgba(71, 71, 71, 0.02) 3%,
      rgba(71, 71, 71, 0.02) 9%,
      rgba(11, 11, 11, 0.02) 9%,
      rgba(11, 11, 11, 0.02) 52%,
      rgba(198, 198, 198, 0.02) 52%,
      rgba(198, 198, 198, 0.02) 85%,
      rgba(231, 231, 231, 0.02) 85%,
      rgba(231, 231, 231, 0.02) 100%
    ),
    linear-gradient(
      50deg,
      rgba(25, 25, 25, 0.02) 0%,
      rgba(25, 25, 25, 0.02) 28%,
      rgba(53, 53, 53, 0.02) 28%,
      rgba(53, 53, 53, 0.02) 29%,
      rgba(146, 146, 146, 0.02) 29%,
      rgba(146, 146, 146, 0.02) 32%,
      rgba(172, 172, 172, 0.02) 32%,
      rgba(172, 172, 172, 0.02) 80%,
      rgba(178, 178, 178, 0.02) 80%,
      rgba(178, 178, 178, 0.02) 100%
    ),
    linear-gradient(
      108deg,
      rgba(235, 235, 235, 0.02) 0%,
      rgba(235, 235, 235, 0.02) 1%,
      rgba(126, 126, 126, 0.02) 1%,
      rgba(126, 126, 126, 0.02) 69%,
      rgba(60, 60, 60, 0.02) 69%,
      rgba(60, 60, 60, 0.02) 75%,
      rgba(162, 162, 162, 0.02) 75%,
      rgba(162, 162, 162, 0.02) 96%,
      rgba(186, 186, 186, 0.02) 96%,
      rgba(186, 186, 186, 0.02) 100%
    ),
    linear-gradient(
      58deg,
      rgba(184, 184, 184, 0.02) 0%,
      rgba(184, 184, 184, 0.02) 6%,
      rgba(73, 73, 73, 0.02) 6%,
      rgba(73, 73, 73, 0.02) 11%,
      rgba(9, 9, 9, 0.02) 11%,
      rgba(9, 9, 9, 0.02) 72%,
      rgba(197, 197, 197, 0.02) 72%,
      rgba(197, 197, 197, 0.02) 82%,
      rgba(225, 225, 225, 0.02) 82%,
      rgba(225, 225, 225, 0.02) 100%
    ),
    linear-gradient(
      103deg,
      rgba(24, 24, 24, 0.02) 0%,
      rgba(24, 24, 24, 0.02) 5%,
      rgba(240, 240, 240, 0.02) 5%,
      rgba(240, 240, 240, 0.02) 78%,
      rgba(12, 12, 12, 0.02) 78%,
      rgba(12, 12, 12, 0.02) 83%,
      rgba(52, 52, 52, 0.02) 83%,
      rgba(52, 52, 52, 0.02) 93%,
      rgba(122, 122, 122, 0.02) 93%,
      rgba(122, 122, 122, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(58, 58, 58), rgb(73, 73, 73));
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #bdc3c7;
}

body::-webkit-scrollbar-thumb {
  background-color: #444444;
}

.page_title {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.page_subtitle {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  word-wrap: break-word;
}

.subtitle_text {
  font-size: 1.5rem;
  word-wrap: break-word;
  max-width: 32rem;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.gugi {
  font-family: "Gugi", cursive;
}

.no_select {
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

@media (max-width: 768px) {
  .subtitle_text {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
  }
}
